*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;

}
.main_header
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #38ade9;
    color: #fff;
}
.main_header *
{
    padding-top: 5px;
    font-size: 1rem;
}


li:nth-child(2n)
{
    color:#b71540;
}
li:nth-child(2n+1)
{
    color: #f6b93b;
}
li:first-child
{
    color: #4a69bd;
}
li:last-child
{
    color: #0d1f52;
}